<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <!-- TODO #1 - Use a loop to display job results in a table. -->
    <table class = "job-listing" th:fragment="results"> <!-- to make the left side of the table
                                    eliminate the th:block and put the th:each
                                    loop directly in the class component -->
        <thead>
        <th:block th:each="jobs: ${jobs}">
            <tr>
<!--                <td>-->
<!--                    <p th:text="${'ID: ' + jobs.id}"></p>-->
<!--                    <p th:text="${'Name: ' + jobs.name}"></p>-->
<!--                </td>-->
                <td th:utext="${'ID: ' + jobs.id + '<br />' +
                'Name: ' + #strings.toUpperCase(jobs.name) + '<br />' +
                'Employer: ' + jobs.employer + '<br />' +
                'Location: ' + jobs.location + '<br />' +
                'Position Type: ' + jobs.positionType + '<br />' +
                'Skill: ' + jobs.coreCompetency}"></td>
            </tr>

            <!-- right side option
            <tr>
                <td th:text="${'Name: ' + jobs.name}"></td>
            </tr>  -->

        </th:block>
        </thead>
    </table>

</div>

</body>
</html>